*{
    font-family: cursive;
    font-size: 20px;
}
#calculator {
    padding: 10px;
    border: 2px solid cyan;
    border-spacing: 5px;
    background-color: cyan;
    width: 425px;
    height: 300px;
}

#calculator td {
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#cho {
    background-color: pink;
}

#po {
    background-color: cornflowerblue;
}

.no {
    background-color: white;
}

#lo {
    background-color: yellow;
}

td:hover {
    background-color: darkseagreen;
}
